.headertitle {
  position: relative;
  top: 1%;
  left: 40%;
  width: 18%;
  font-family: American Typewriter;
  font-size:50px;
  color:rgb(150,150,0);
  
}
.header{
	background-color: rgb(210,15,0);
}
.menu{	background-color: rgb(210,15,0);
}